name: Validate

on:
  push:
  pull_request:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  hassfest:
    name: Hassfest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Install Home Assistant
        run: pip install homeassistant
      - name: Run hassfest
        run: python -m script.hassfest --integration-path="${{ github.workspace }}/custom_components/immich_album_watcher" --action=validate
